*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 50px;
    width: 100px;
    padding: 15px 10px 5px 11px;
}
.logo{
    background-image: url("Images/amazonlogo.png");
    background-size: cover;
    height: 23px;
    width: 100%;   
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}

/** Box 2 in the navigation bar **/
.address_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    padding-top: 10px;
}
.address_second{
    color: #ffffff;
    margin-left: 3px;
}
.address_icon{
    display: flex;
    padding-left: 4px;
}
.nav_address{
    margin-left: 3px;
    width: 80px;
    height: 50px;
}

/** Box 3 (Search Bar) in the navigation bar **/
.nav_search{
    width: 940px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #0F1111;
    border-radius: 5px;
}
.nav_search:hover{
    border: 2px solid orange;
}
.search_select{
    /* margin-left: 5px; */
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: #febd68;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0F1111; 
}

/** Box 4 (Sign in and Account) in the navigation bar **/
.sign_in{
    width: 130px;
    height: 50px;
    padding: 10px 0 0 16px;
}
.nav_first{
    font-size: 0.75rem;
}
.nav_second{
    font-size: 0.8rem;
    font-weight: 700;
}

/** Box 5 (Returns & Orders) in the navigation bar **/
.nav_return{
    width: 76px;
    height: 50px;
    padding: 10px 0 0 10px;
}
.return_first{
    font-size: 0.75rem;
}
.return_second{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Box 6 (Cart) in the navigation bar **/
.nav_cart{
    height: 50px;
    width: 76px;
    padding: 10px 0 0 6px;
}
.nav_cart i{
    font-size: 28px;
}
.nav_cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/** Panel **/
.panel{
    height: 40px;
    background-color: #232F3E;
    color: #FFFFFF;
    display: flex;
    align-items: center; /** to align items vertically **/
    justify-content: space-evenly;
}
.panel-options p{
    margin-left: 10px;
}
.panel-options{
    display: flex;
    width: 96%;
    font-size: 0.85rem;
    align-items: center;
}
.panel-all{
    padding: 10px 0 0 15px;
    width: 65px;
    height: 40px;
    /* margin-left: 2px; */
}
.today-deal {
    width: 110px;
    height: 40px;
    padding: 10px 0 0 4px;
}
.customer-service {
    width: 130px;
    height: 40px;
    padding: 10px 0 0 3px;
}
.registry{
    width: 70px;
    height: 40px;
    padding: 10px 0 0 0;
}
.gift-cards{
    width: 80px;
    height: 40px;
    padding: 10px 0 0 0;
}
.sell{
    width: 43px;
    height: 40px;
    padding: 10px 0 0 0;
}

/** Hero Section **/
.hero-section{
    background-image: url("Images/gifts.jpg");
    background-size: cover;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: #f5f6f6;
    width: 96%;
    height: 40px;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 40px;
}
.hero-message a{
    color: #007185;
    text-decoration: none;
}

/** shop-section **/
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(245, 229, 231);
}
.box{
    height: 420px;
    width: 23%;
    background-color: #FFFFFF;
    font-size: 15px;
    padding: 20px 0 15px 0;
}

/** box 1 **/
.box1-images{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box1-upper-images{
    height: 105px;
    display: flex;
    justify-content: space-between;
}
.box1-lower-images{
    height: 105px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.image1{
    height: 100px;
    width: 140px;
    background-image: url("Images/Headsets.jpg");
    background-size: cover;
}
.image2{
    height: 100px;
    width: 140px;
    background-image: url("Images/Keyboards.jpg");
    background-size: cover

}
.image3{
    height: 100px;
    width: 140px;
    background-image: url("Images/Computer-mouse.jpg");
    background-size: cover

}
.image4{
    height: 100px;
    width: 140px;
    background-image: url("Images/Chairs.jpg");
    background-size: cover

}
.box1-span{
    width: 270px;
    display: flex;
    justify-content: space-around;
}
.box1-images span{
    font-size: 12px;
}
.box1-seemore a{
    font-size: 13px;
    text-decoration: none;
    color: #007185;
}
.box1-seemore a:hover{
    color: red;
}

/** box2 **/
.commonbox-content{   /** can be universal for all the boxes **/
    margin-left: 1rem;
    margin-right: 1rem;
}
.commonbox-content h2{
    font-size: 21px;
}
.box-image{    
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.image5{
    height: 300px;
    background-image: url("Images/music-box.jpg");
    background-size: 100% 100%;
}
.box2-shopnow a{
    font-size: 13px;
    color: #007185;
    text-decoration: none;
}
.box2-shopnow a:hover{
    color: red;
}
.box-image:hover ~ .box2-shopnow a{
    color: red;
}

/** margin for box5, box6, box7 and box8 **/
.nextlineboxes{
    margin-top: 20px;
}

/** box 3 **/
.image6{
    height: 100px;
    width: 140px;
    background-image: url("Images/Dining.jpg");
    background-size: cover;
}
.image7{
    height: 100px;
    width: 140px;
    background-image: url("Images/Home.jpg");
    background-size: cover;
}
.image8{
    height: 100px;
    width: 140px;
    background-image: url("Images/Kitchen.jpg");
    background-size: cover;
}
.image9{
    height: 100px;
    width: 140px;
    background-image: url("Images/HealthAndBeauty.jpg");
    background-size: cover;
}

/** box 4 **/
.box4-upper-images{
    height: 170px;
    background-image: url("Images/Smartphones.jpg");
    background-size: cover;
    margin-top: 1rem;
}
.box4-upper-images p{
    font-size: 15px;
}
.box4-subimages-box{
    height: 90px;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.box4-images{
    height: 90px;
    width: 90px;
}
.image10{
    background-image: url("Images/Tablets.jpg");
    background-size: cover;
}
.image11{
    background-image: url("Images/Laptops.jpg");
    background-size: cover;
}
.image12{
    background-image: url("Images/TVs.jpg");
    background-size: cover;
}
.box4-seemore{
    margin-top: 12px;
}