*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}

.navlogo{
    height: 59px;
    width: 100px;
    padding: 15px 10px 5px 11px;
}
.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 23px;
    width: 100%;   
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/** Box 2 in the navigation bar **/
.address_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    padding-top: 10px;
}
.address_second{
    color: #ffffff;
    margin-left: 3px;
}
.address_icon{
    display: flex;
    padding-left: 4px;
}
.nav_address{
    margin-left: 3px;
    width: 80px;
    height: 59px;
}
