*{
    margin: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navlogo{
    height: 59px;
    width: 100px;
    padding: 15px 10px 5px 11px;
}
.logo{
    background-image: url("amazonlogo.png");
    background-size: cover;
    height: 23px;
    width: 100%;   
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}

/** Box 2 in the navigation bar **/
.address_first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    padding-top: 10px;
}
.address_second{
    color: #ffffff;
    margin-left: 3px;
}
.address_icon{
    display: flex;
    padding-left: 4px;
}
.nav_address{
    margin-left: 3px;
    width: 80px;
    height: 59px;
}

/** Box 3 (Search Bar) in the navigation bar **/
.nav_search{
    width: 700px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    background-color: #0F1111;
    border-radius: 5px;
}
.search_select{
    margin-left: 5px;
    width: 50px;
    background-color: #E6E6E6;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search_input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0F1111; 
}